@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  --radius: 15px;
  --shadow: 5px 5px 5px rgba(0, 0, 0, 0.167);
  --theme-color: rgb(34, 34, 34);
  --light-color: rgb(80, 80, 80);
  --highlight-color: rgb(106, 46, 150);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border-radius: 20px;
  color: gray;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 320px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  margin: 10px;
}

.choices-delete-checklist,
.choices-delete-todo {
  display: flex;
  flex-direction: row-reverse;
  gap: 7px;
}

.yes-button,
.no-button {
  margin-right: 10px;
  margin-top: 30px;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  /* box-shadow: var(--shadow); */
}

.yes-button {
  background-color: rgb(127, 33, 33);
}

.no-button {
  background-color: rgb(85, 85, 85);
}

.yes-button:hover {
  background-color: rgb(186, 87, 87);
}

.yes-button:active {
  background-color: rgb(236, 154, 154);
}

.no-button:hover {
  background-color: rgb(121, 121, 121);
}

.no-button:active {
  background-color: rgb(121, 121, 121);
}