@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  --radius: 15px;
  --shadow: 5px 5px 5px rgba(0, 0, 0, 0.167);
  --theme-color: rgb(34, 34, 34);
  --light-color: rgb(80, 80, 80);
  --highlight-color: rgb(106, 46, 150);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border-radius: 20px;
  color: gray;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 320px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -15px;
  right: -5px;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  font-size: 12px;
  margin: 10px;
  position: relative;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.choices-delete-project,
.choices-delete-checklist,
.choices-delete-todo {
  display: flex;
  flex-direction: row-reverse;
  gap: 7px;
}

.yes-button,
.no-button,
button {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 30px;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--highlight-color);
  /* box-shadow: var(--shadow); */
}

button:hover {
  background-color: rgb(142, 83, 184);
}

button:active {
  background-color: rgb(181, 130, 217);
}

.yes-button {
  background-color: rgb(127, 33, 33);
}

.no-button {
  background-color: rgb(85, 85, 85);
}

.yes-button:hover {
  background-color: rgb(186, 87, 87);
}

.yes-button:active {
  background-color: rgb(236, 154, 154);
}

.no-button:hover {
  background-color: rgb(121, 121, 121);
}

.no-button:active {
  background-color: rgb(121, 121, 121);
}

button {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

/* .form-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */



.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="date"] {
  color: gray;
  font-size: 10px;
  /* margin-bottom: 20px; */
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.148) inset;
  background-color: rgb(236, 236, 236);
  width: 93%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* input[type="date"] {
  cursor: pointer;
} */

input[type="radio"] {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */

  accent-color: var(--highlight-color);
  cursor: pointer;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  font-size: 10px;
  font-weight: bold;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.radio-container {
  
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo-priority-radios,
.edit-todo-priority-radios {
  
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}